{
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "singleQuote": false,
        "parser": "json"
      }
    },
    {
      "files": ["*.js", "*.ts", "*.tsx"],
      "options": {
        "parser": "typescript",
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80
      }
    }
  ]
}
