html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea {
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  --gap-width: 8px;
  --color-neutral-000: #000;
  --color-neutral-aaa: #AAA;
  --color-neutral-999: #999;
  --color-neutral-000: #FFF;
  --color-tag-border-red: rgba(248,89,89,0.5);
  --color-tag-red: #F85959;
}

a, a:link, a:hover, a:visited {
  text-decoration: none;
}

h2 {
  font-weight: bold;
  line-height: 1.4;
}

body {
  padding-inline: calc(var(--gap-width) * 2);
  max-width: 100vw;
  min-height: 100vh;
}
